<div class="mainContainer">
  <div>
    <h1>{{ titleApp }}</h1>
  </div>
  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin placerat,
      metus vel tincidunt vestibulum, elit purus placerat risus, quis efficitur
      nulla eros nec mi. Praesent elit sem, convallis ut erat et, tempus congue
      velit. Pellentesque id ornare massa. Pellentesque habitant morbi tristique
      senectus et netus et malesuada fames ac turpis egestas. Suspendisse
      potenti. Curabitur a pharetra ligula. Nulla vestibulum finibus metus, vel
      tempus turpis mollis eget. Etiam vestibulum lobortis nibh, sed tempor dui
      mollis eleifend. Cras malesuada mattis dolor, quis porttitor ligula
      consectetur in. Cras nibh mauris, molestie congue urna et, bibendum tempor
      nulla. Sed ex neque, venenatis eu arcu nec, dapibus cursus mi. Morbi eros
      enim, egestas at aliquet eu, elementum nec leo. Nulla commodo, dui quis
      tempus suscipit, augue elit eleifend turpis, eu pharetra metus ipsum in
      arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      in lacus vitae dolor imperdiet dapibus. In hac habitasse platea dictumst.
    </p>
  </div>
  <section>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button routerLink="/apimenu" mat-fab extended >
            <mat-icon>login</mat-icon>
            start
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
