<div class="mainContainer">
  <div>
    <h1>{{titleApp}}</h1>
  </div>
  <div>
    <p>
      Master of APIs es una aplicación desarrollada con Angular que busca agrupar y mostrar información de al menos 20 de las principales APIs REST públicas gratuitas disponibles. Aunque en esta versión inicial se implementó una sola API como prueba de concepto, la idea original era crear un catálogo interactivo con filtros temáticos.

Este proyecto no solo cumple con los requerimientos técnicos de una prueba de ingreso, sino que también sirvió como una valiosa herramienta de autoevaluación para medir mi dominio actual de Angular, así como mi capacidad para planificar objetivos ambiciosos considerando tiempos y prioridades.
    </p>
  </div>
  <section>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button routerLink="/apimenu" mat-fab extended >
            <mat-icon>login</mat-icon>
            start
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
