
.sidebar
  width: auto
  height: 100vh
  background: #052659
  display: flex
  flex-direction: column
  justify-content: start
  padding: 10px
  div
    h2
      color: #fff
      text-transform: uppercase
      text-align: center
.filterSelect
  display: flex
  flex-direction: column
  width: 100%
.filterInput
  .matInput
    width: 100%
.matInput
  width: 100%
.textContainerFilter
  p
    color: #fff
    text-align: center

@media screen and ( max-width: 430px )
  .filterSelect
    display: flex
    flex-direction: column
    width: 100%
  .sidebar
    height: 100%
